<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <title>LWR Scratch Pad</title>
    <link rel="stylesheet" href="https://unpkg.com/@salesforce-ux/wes-foundation/dist/index.css" />
    <link rel="stylesheet" href="https://unpkg.com/@salesforce-ux/wes-styling-hooks/dist/hooks.custom-props.css" />
  </head>
  <body>
    {{{body}}} {{{lwr_resources}}}
  </body>
</html>
